@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Khoa CNTT - trường Đại học Tài nguyên và Môi trường Hà Nội<br />
    <abbr title="Phone">Điện thoại:</abbr>
    0902 130 130
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="dhtnmthn@hunre.edu.vn">dhtnmthn@hunre.edu.vn</a><br />
</address>