@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    @*<div class="col-md-4">
        <h2>Kho dữ liệu của các đơn vị</h2>
        <p>
            Kho dữ liệu của các phòng, ban, trung tâm, các khoa,... trong Trường.
        </p>
        <p><a class="btn btn-default" href="Home/Warehouse">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kho dữ liệu theo lĩnh vực</h2>
        <p>Quản lý kho dữ liệu theo từng lĩnh vực như: Lĩnh vực đào tạo; lĩnh vực khảo thí; lĩnh vực cơ sở vật chất, lĩnh vực khoa học công nghệ,...</p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kiểm định cấp trường</h2>
        <p>Các chức năng kiểm định cấp trường như: xây dựng danh mục minh chứng, viết báo cáo tự đánh giá cấp trường,...</p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kiểm định cấp chương trình đào tạo</h2>
        <p>Các chức năng kiểm định cấp CTĐT như: xây dựng danh mục minh chứng, viết báo cáo tự đánh giá cấp chương trình đào tạo,...</p>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>*@
</div>